.md {
  pre {
    overflow: auto !important;
    padding: 0.4rem !important;
    background: #ccc !important;
    code {
      background: none !important;
    }
  }
  code {
    padding: 0.2rem !important;
    background: #ccc !important;
    color: green !important;
    margin: 0 0.2rem;
  }

  @media only screen and (max-width: 600px) {
    img {
      width: 80vw;
    }
  }
}
