// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
.md{
  pre{
    overflow: auto !important;
    padding: .4rem !important;
    background: #ccc !important;
    code{
      background: none !important;
    }
  }
  code{
    background: none !important;
  }
  
  @media only screen and (max-width: 600px) {
    img {
      width: 80vw;
    }
  }
}